
p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 80px;
}

h1 {
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}


.container {
  display: flex;
  max-width: 1440px;
  height: 600px;
  justify-content: center;
  align-items: center;
  padding: 40px;

}

.card {
  padding: 40px;
  height: 400px;
}

.card_orange {
  background-color: hsl(31, 77%, 52%);
}

.card_dark_cyan {
  background-color: hsl(184, 100%, 22%);
}

.card_very_dark_cyan {
  background-color: hsl(179, 100%, 13%);
}

.button {
  display: inherit;
  background-color: hsl(0, 0%, 95%);
  width: 120px;
  height: 22px;
  border-radius: 20px;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 13px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: hsl(0, 0%, 95%);


}

.button_orange {
  color: hsl(31, 77%, 52%);
}

.button_dark_cyan {
  color: hsl(184, 100%, 22%);
}

.button_very_dark_cyan {
  color: hsl(179, 100%, 13%);
}

.button:hover {
  border-style: solid;
  border-width: 2px;
  border-color: hsl(0, 0%, 95%);
  background-color: hsla(360, 100%, 100%, 0);
  color: hsl(0, 0%, 95%);
  transition-duration: 0.5s;
}


@media only screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-flow: row wrap;
    max-width: 375px;
    margin: 0 auto;
    padding: 40px;
  }

  p {
    padding-bottom: 20px;
  }

  .card {
    padding: 30px;
    height: 350px;
  }

}
